.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.sidebar {
  width: 15%;
  color: white;
  font-weight: bold;
  min-width: 15%;
  height: 96%;
  padding-top: 1%;
}

h1 {
  text-align: center;
  padding: 5%
}

Nav {
  display: flex
}

.nav-list a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav-list a svg {
  font-size: 1.5vw
}

.nav-list a span {
  margin-left: .25em;
  font-size: 1.5vw
}

.main {
  width: 85%;
  background-color: rgb(60, 180, 255);
  color: white; 
  text-align: center;
  overflow: auto;
  min-width: 85%;
}

.home-header {
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.carousel-inner .carousel-item img{
  height: 75vh;
}

.sidebar-header {
  height: 4%;
}

.sidebar-header a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.sidebar-header span {
 margin-left: .25em;
 font-size: 1.75vw
}

.card {
  max-height: 350px;
  overflow: hidden;
}

.sidebar-header svg {
  font-size: 1.5vw
}

.card-title a {
  list-style: none;
  text-decoration: none;
  color: white;
}

@media (max-width: 500px) {
  .nav-list a span {
    visibility: hidden;
  }
  .sidebar-header span {
    visibility: hidden;
   }
   .sidebar-header svg {
    font-size: 1.20em
  }
  .nav-list a svg {
    font-size: 1.20em
  }
  .carousel-inner .carousel-item img {
    height: 50vh;
  }
  .home-header {
    display: flex;
    height: 50vh;
    align-items: center;
    min-width: fit-content;
  }
  .card {
    max-height: 220px;
    overflow: hidden;
  }
  .card-img {
    max-height: 150px;
  }
}