* {
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bold;
  align-content: start;
  overflow: hidden;
}

.nav-list {
  list-style: none;
  text-decoration: none;
}

.main {
  width: 85%;
  background-color: lightskyblue;
  color: white; 
  text-align: center;
  min-width: fit-content;
  overflow: hidden;
}

