.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.sidebar {
  width: 15%;
  color: white;
  font-weight: bold;
  min-width: 15%;
  height: 96%;
  padding-top: 1%;
}

h1 {
  text-align: center;
  padding: 5%
}

Nav {
  display: flex
}

.nav-list a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.nav-list a svg {
  font-size: 1.5vw
}

.nav-list a span {
  margin-left: .25em;
  font-size: 1.5vw
}

.main {
  width: 85%;
  background-color: rgb(60, 180, 255);
  color: white; 
  text-align: center;
  overflow: auto;
  min-width: 85%;
}

.carousel-inner .carousel-item img {
  height: 75vh;
}

.header {
  height: 4%
}

.header span {
 margin-left: .25em;
 font-size: 1.75vw
}

.header svg {
  font-size: 1.5vw
}

@media (max-width: 500px) {
  .nav-list a span {
    visibility: hidden;
  }
  .header span {
    visibility: hidden;
   }
   .header svg {
    font-size: 1.20em
  }
  .nav-list a svg {
    font-size: 1.20em
  }
}